.PokeImage{
  width: 60%;
}

.header{
  display: inline-block;
}

.name{
  display: inline-block;
  margin-right: 10px;
}

.icon {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 5px;
}