.PokeImage{
  width: 40%;
}

.header{
  display: inline-flex;
}

.name{
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 0px;
}

.wrapper{
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
}

.icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    margin-right: 5px;
}

.divAbilities{
  display: inline-flex;
}

.abilities{
  margin: auto auto;
  display: grid;
  align-content: center;
  align-items: center;
}

.pAbility{
  margin-bottom: 0px;
  display: inline;
}

.star{
  color: yellow;
  display: inline;
}
