
.typeImage{
  border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header{
  display: inline-flex;
}

.item{
  margin-top: 5px;
  margin-bottom: 5px;
}

.name{
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
}
.logosTypes{
  margin: auto auto;
  display: grid;
  align-content: center;
  align-items: center;
}
.icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.no_damage{
  background: red;
}

.half_damage{
  background: yellow;
}

.normal_damage{
  background: gray;
}

.double_damage{
  background: green;
}
