
.typeImage{
  border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header{
  display: inline-flex;
}

.item{
  margin-top: 5px;
  margin-bottom: 5px;
}

.itemAbility{
  margin-right: 2%;
  margin-left: 2%;
}

.itemStats{
  margin-right: 5%;
  margin-left: 5%;
}

.name{
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
}
.logosTypes{
  margin: auto auto;
  display: grid;
  align-content: center;
  align-items: center;
}
.icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.no_damage{
  background: red;
}

.half_damage{
  background: yellow;
}

.normal_damage{
  background: gray;
}

.double_damage{
  background: green;
}

.divAbilities{
  display: inline-flex;
}

.abilities{
  margin: auto auto;
  display: grid;
  align-content: center;
  align-items: center;
}

.pAbility{
  margin-bottom: 0px;
  display: inline;
}

.star{
  color: yellow;
  display: inline;
}

.stats{
  width: 100%;
  margin: auto auto;
  display: grid;
  grid-template-columns: 100px 40px 1fr;
  align-content: center;
  align-items: center;
}

.divProgressBar{
  margin-bottom: 8px;
}

.bg-hp{
  background-color: red;
}

.bg-atk{
  background-color: orange;
}

.bg-def{
  background-color: yellow;
}

.bg-spAtk{
  background-color: blue;
}

.bg-spDef{
  background-color: green;
}

.bg-speed{
  background-color: pink;
}