body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected {
  font-weight: bold;
}

.questionPanel {
  background-color: azure;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.m5 {
  margin: 5px;
}

.resultPanel {
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.submitBtn {
  margin: 15px;
}
